
body{
    margin: 0;
    padding: 0;
    font-family: 'Aboreto';
}
.container {
    max-width: 1440px;
    margin: auto;
    margin-inline: 15px;
}
.d-flex{
    display: flex;

}
.Card-Title{
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    padding: 10px;
}
.log-in-wrap{
    justify-content:center;
    align-items: center;
    column-gap: 1rem;
    padding: 25px;
}
.Nav-items{
    list-style: none;
    display: flex;
    justify-content: flex-end;

}
.Nav-items > li{
    padding: 10px;

}
.footer-wrap{
    background: #0f2c56;
    color: #fff;
}
.Nav-Main{

    background: #0f2c56;
    color: #fff;
}
.nav-wrap{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: auto;
}
.column-flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

button{
    margin:10px 0;
}
.Recently-Viewed-Container
{
    display: flex;
    row-gap: 1rem;
    align-items: center;
    padding-bottom: 8px;
    column-gap: 15px;
    justify-content: center;
}
.Recently-Viewed-Container audio {
    width: 272px;
}
.Recently-Viewed-Container::-webkit-scrollbar-thumb:horizontal {
    background: #0f2c56;
    border-radius: 10px;
}

.song-card .row-gap{
    min-width: 270px;
    min-height: 270px;
}
.Recently-Viewed-Container::-webkit-scrollbar {
    height: 8px;
    width: 4px;
    background: gray;
}
.Recently-Viewed-Container::-webkit-scrollbar-thumb {
    background: #888;
}
.Recently-Viewed-Container::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.song-card {
    background: #0f2c56;
    color: #fff;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 10px;
}
.row-gap{
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
}
footer.footer-wrap {
    padding: 35px 0;
    margin-top: 70px;
}

@media (max-width:992px){
    ul.Nav-items {
        display: block;
    }
    .log-in-wrap{
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width :620px){
    .Recently-Viewed-Container
    {
        overflow-x: scroll;
        justify-content: start;
    }
}