
body{
    margin: 0;
    padding: 0;
    font-family: 'Aboreto';
}
.d-flex{
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 1rem;
}
.Nav-items{
    list-style: none;
    display: flex;
    justify-content: flex-end;

}
.Nav-items > li{
    padding: 10px;

}
.Nav-Main{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: auto;
    background: #0f2c56;
    color: #fff;
}
.column-flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

button{

    margin:10px 0;
}
.d-flex2{
    display: flex;
    row-gap: 1rem;
    justify-content:space-around;
    align-items: space-between;

    }

    .song-card {
        background: #0f2c56;
        color: #fff;
        padding: 1rem;
        border: 1px solid #fff;
        border-radius: 10px;
    }
.row-gap{

    row-gap: 1rem;
    display: flex;
    flex-direction: column;
}
